<!--<body>-->
<!--  <p>Puppy Name: <%= @name %></p>-->
<!--  <p>Puppy Breed: <%= @breed %></p>-->
<!--  <p>Puppy Age: <%= @age %> months</p>-->
<!--</body>-->


<p>Puppy Name: <%= @puppy.name %></p>
<p>Puppy Breed: <%= @puppy.breed %></p>
<p>Puppy Age: <%= @puppy.months_old %> months</p>